/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    box-sizing: border-box;

    color: #222;

    font-size: 1em;
    line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    margin: 0;
    padding: 0;

    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    padding: 0.2em 0;

    color: #000;
    background: #ccc;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /* ##################################################################### */
 /* ##########################   Simon Pierre   ########################### */
 /* ############################pages: index.html, galerie.html, actualites.html et espace_libre_service.html######################################### */
 h5 {
   font-family: Abel!important;
 }
 
.carte_present{
  height: 40%;
}
 .center-align,main .main_index{
    text-align: center!important;
padding-right: 10px;
                }
 }
 .section_espace_libre{
   /*background-color: #E0E0E0;*/
   margin: 0 -30px -20px -40px;
 }
 .section_gallery{
   margin: 0 -30px -35px -100px;
 }
 .section_espace_libre,.section_gallery{
   padding-top: 5px;
   width:115%;
   text-align: center;
 }

 .concept_index,.column_index{
   text-align: center;
 }

 .section_gallery{
   padding-left: 28px;
 }
 .main_index{
   font-family: Helvetica monospace sans-serif;
   font-size: 1.2em;
   border: 1.5px dotted black;
   /*background-color: #E0E0E0;*/
   width: 70%;
   margin: 0 auto;

 }
 .table_index{
   text-align: center;
   background-color: #B70060;
 }


 .news {
     /*margin: 10px 25px 10px -40px;*/
      margin: 0 auto;
       width:  80%;
       height: 35%;
 }
 .archive {
     padding-top: 60px!important;
 }
/*.carousel{

  width:  30%;
  height: 35%;

}*/
.header_space{
  text-align: center;
}
@media (min-width: 241px) {
  .section_index{
    margin-left: -5px;
    margin-right: 0;}
  }
@media (max-width: 600px) {
.section_index{
  margin-left: -5px;
  margin-right: 0;
              }

}
@media (min-width: 601px) {
.section_index, .news{
  margin: 0 auto;
               }
@media (max-width: 992px) {
.section_index{
  width: 120%;
  margin-left: 100px ;
  margin-right: -65px;
               }



   /* ##################################################################### */
   /* ##########################   Justyna  ########################### */
   /* ################################pages: agenda.html, salon_the.html et tarif.html##################################### */






/****************************  salon_the.html **********************/

.header_salon_the {
    text-align: center;
}

/****************************  agenda.html *************************/



/****************************  tarif.html *************************/
.tarif_empty_tr {
    height: 20px;
}



   /* ##################################################################### */
   /* ##########################   Ryan   ########################### */
   /* #############################pages: contact.html, atelier_couture.html et partners.html######################################## */

header {

 width: 100%;
 background-color: #FFF;

}
nav{

  background-size: cover;
  background-color: #B70060 ;
}

.logo-header {
  margin-top: 0;
}


.page-footer {
  background-color: #B70060 !important;
}

body {
  font-family: Abel;
  text-align: center;
}

.wrapper {
 width: 70%;
 margin: 0 auto;
}
article a{
    color:#ff8c00!important;
}

.metro {

  width: 30px;
  filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
}

#gmap_canvas {
  margin: 0 auto!important;
  overflow: hidden;
}


.section_contact {
  /*background-color: #E0E0E0;*/
}

.form-contact {
  margin: 0 auto;
}
.case{
  margin: 0 auto !important;
}
.formulaire{
  /*width: 50px;
  height: 80px;*/
  border: 1px dotted deepskyblue;
  font-family: Helvetica, sans-serif;
    background-color: aliceblue;
  }

@media screen and (min-width:768px) {

}




































































































































































































/*###########################################################################*/


a img {
   border:none;
      }

   /* ##################################################################### */
   /* ##########################   SMARTPHONE   ########################### */
   /* ##################################################################### */




   /* ##################################################################### */
   /* ############################   TABLETS   ############################ */
   /* ##################################################################### */



   /* ##################################################################### */
   /* ############################   DESKTOPS   ########################### */
   /* ##################################################################### */


   /* ##################################################################### */
   /* ########################   LARGE DESKTOPS   ######################### */
   /* ##################################################################### */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    display: table; /* 2 */

    content: " "; /* 1 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
